<mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <!-- <a routerLink="/domande" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color:black" >Crea nuova scala di valutazione</a>
      -->
        <app-popup>

      </app-popup>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/scale" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color:black">Modifica scala di valutazione</a>
    </mat-grid-tile>
    <mat-grid-tile>Crea..</mat-grid-tile>
    <mat-grid-tile>Modifica..</mat-grid-tile>
    <mat-grid-tile>Crea2..</mat-grid-tile>
    <mat-grid-tile>Modifica2..</mat-grid-tile>
    <mat-grid-tile>Crea3..</mat-grid-tile>
    <mat-grid-tile>Modifica3..</mat-grid-tile>
  </mat-grid-list>